In [4]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import random

In [31]:
# São Paulo
df_sp_3 = pd.read_excel('Sp/tab4_20_1_3.xlsx')
df_sp_4 = pd.read_excel('Sp/tab4_20_1_4.xls')

# Santa Catarina
df_sc_3 = pd.read_excel('Santa Catarina/tab4_22_1_3.xls')
df_sc_4 = pd.read_excel('Santa Catarina/tab4_22_1_4.xls')

# Minas Gerais
df_mg_3 = pd.read_excel('Minas/tab4_17_1_3.xls')
df_mg_4 = pd.read_excel('Minas/tab4_17_1_4.xls')

# Bahia
df_bh_3 = pd.read_excel('Bahia/tab4_16_1_3.xls')
df_bh_4 = pd.read_excel('Bahia/tab4_16_1_4.xls')

# Amazonas
df_am_3 = pd.read_excel('Amazonas/tab4_3_1_3.xls')
df_am_4 = pd.read_excel('Amazonas/tab4_3_1_4.xls')

In [79]:

def gerar_df_todas():
    tabelas = [df_sp_3,df_sp_4,df_sc_3,df_sc_4,df_mg_3,df_mg_4,df_bh_3,df_bh_4,df_am_3,df_am_4]
    tabela_final =  pd.DataFrame([], columns=df_sp_3.columns)

    for tabela in tabelas:
        for i in range(0,2):
            numero_linha = random.randint(0,tabela.shape[0]-1)
            dados = pegar_dados_linha(tabela,numero_linha)
            linha = pd.DataFrame(dados, index=[numero_linha])
            tabela_final = tabela_final.append(linha, ignore_index=True)
    return tabela_final

In [75]:
def pegar_dados_linha(tabela, numero_linha):
    dados = {}
    linha = tabela.iloc[numero_linha,:]
    colunas = tabela.columns.values
    for coluna in colunas:
        dados[coluna] = linha[coluna]
    return dados

In [80]:
ola = gerar_df_todas()
ola

,Alfabetização de jovens e adultos,Classe de alfabetização,Creche,"Especializa-ção de nível superior, mestrado ou doutorado","Especializa0ção de nível superior, mestrado ou doutorado",Fundamental,"Mesorregiões, microrregiões e municípios",Médio,Pré-escolar,Pré0escolar,Superior de graduação,Total,municípios
0,58.4483,306.497,423.077,NaN,22.303941,5022.009441,NaN,1643.97,NaN,572.204005,207.375305,8255.886911,Jardinópolis
1,182.147,795.186,2213.87,NaN,340.583391,10153.137348,NaN,4998.88,NaN,2201.064347,1423.825713,22308.693705,São Caetano do Sul
2,1.98211,-,-,9.20443,NaN,19.516706,NaN,13.993,3.35053,NaN,40.446718,88.493526,Álvares Florence
3,-,5.62681,26.1263,48.6326,NaN,227.464485,NaN,82.383,44.0505,NaN,268.310116,702.593824,Águas de Lindóia
4,19.0935,69.63,87.4076,6.55754,NaN,1035.731836,Salete,418.483,256.182,NaN,9.269992,1902.356075,NaN
5,26.7974,319.597,195.253,7.12246,NaN,1701.311637,Lauro Muller,644.155,399.23,NaN,56.362985,3349.829456,NaN
6,0,0,0,NaN,26.591286,45.777434,Sangão,53.8985,NaN,17.809155,127.281418,271.357829,NaN
7,0,0,0,NaN,20.285337,29.827411,Treviso,53.0268,NaN,0.000000,82.205045,185.344642,NaN
8,89.1615,704.357,329.024,23.1511,NaN,5564.438300,Igarapé,1755.43,649.235,NaN,75.657838,9190.455518,NaN
9,4.80225,145.655,-,-,NaN,1336.833786,Bueno Brandão,375.595,171.547,NaN,68.692761,2103.126284,NaN
10,-,14.4699,-,5.11905,NaN,53.766178,Recreio,28.8539,38.4702,NaN,135.831618,276.510849,NaN
11,-,3.96925,3.48582,9.329,NaN,19.472670,São José da Varginha,13.5448,-,NaN,101.626364,151.427886,NaN
12,198.248,249.619,131.658,-,NaN,2071.829636,Iuiú,678.713,545.303,NaN,37.986248,3913.357159,NaN
13,318.879,520.649,243.291,-,NaN,4239.295197,Guaratinga,801.182,605.477,NaN,96.389552,6825.162802,NaN
14,-,22.076,-,10.392,NaN,4.541347,Várzea Nova,7.92865,92.5393,NaN,77.352775,214.829988,NaN
15,980.334,27037.7,14026.8,12782,NaN,120151.727457,Salvador,27559.6,53654.1,NaN,89591.969751,345784.276205,NaN
16,116.931,727.693,38.648,8.48493,NaN,6732.415709,Boca do Acre,1636.13,833.151,NaN,96.653260,10190.109192,NaN
17,309.084,1231.89,199.203,41.0741,NaN,13320.249008,Tabatinga,3277.55,1392.12,NaN,1256.723863,21027.899771,NaN
18,4.5151,-,-,-,NaN,10.368146,Uarini,-,-,NaN,4.949536,19.832784,NaN
19,11.1498,18.026,-,-,NaN,45.557081,Autazes,-,11.1498,NaN,142.324588,228.207230,NaN