In [3]:
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt

In [4]:
dados = [
    [166,20,20],
    [180,8,21],
    [73,10,12],
    [81,14,16],
    [229,8,24],
    [182,15,24],
    [233,6,23],
    [102,10,15],
    [190,7,20],
    [150,10,19],
    [221,11,25],
    [137,15,21],
    [173,8,19],
    [150,12,20],
    [92,10,14]
]

df = pd.DataFrame(dados, columns=['quant_vendido', 'preço', 'lucro'])

df

    quant_vendido  preço  lucro
0             166     20     20
1             180      8     21
2              73     10     12
3              81     14     16
4             229      8     24
5             182     15     24
6             233      6     23
7             102     10     15
8             190      7     20
9             150     10     19
10            221     11     25
11            137     15     21
12            173      8     19
13            150     12     20
14             92     10     14